<!DOCTYPE html>
<!-- Load static loads all the static folder files -->
{% load static %}
<!-- Non loaded frontend stuff and links -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Beating the Water</title>

    <!-- Load css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

    <!-- load google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
    <form method="post" enctype="multipart/form-data">
      <!-- CSRF script -->
      {% csrf_token %}
      <div class="uploadfolders">

        <!-- CSV upload box -->
        <div class="csv">
          <h1>
            Upload your file
          </h1>
          <p>
            File should be .csv
          </p>
          <div class="file-drop-area">
            <img src="{% static 'images/folder.png' %}" alt="folder" width="20%" height="auto">
            <span class="file-msg">or drag and drop files here</span>
            <input class="file-input" type="file" name="csvdoc"  accept=".csv">
          </div>
        </div>

        <!-- TIF/TIFF upload box -->
        <div class="tif">
          <h1>
            Upload your file
          </h1>
          <p>
            File should be .tif or .tiff
          </p>
          <div class="file-drop-area">
            <img src="{% static 'images/folder.png' %}" alt="folder" width="20%" height="auto">
            <span class="file-msg">or drag and drop files here</span>
            <input class="file-input" type="file" name="tiffdoc" accept=".tiff,.tif">
          </div>
        </div>

        <!-- Dune specifications box -->
        <div class="dune_specs">
          <div class="number">
            <p>HOW FAR TO LOOK FOR IN M</p>
            <span class="input-number-decrement">–</span><input class="input-number1" type="number" name="LFD" value="300" min="1" max="5000"><span class="input-number-increment">+</span>
          </div>
          <div class="number">
            <p>HEIGHT IN M</p>
            <span class="input-number-decrement">–</span><input class="input-number2" type="number" name="HEIGHT" value="8" min="1" max="80"><span class="input-number-increment">+</span>
          </div>
          <div class="number">
            <p>LENGTH IN M</p>
            <span class="input-number-decrement">–</span><input class="input-number3" type="number" name="LENGTH" value="30" min="1" max="500"><span class="input-number-increment">+</span>
          </div>
          <div class="number">
            <p>OOST OF WEST</p>
            <input class="input-number4" type="text" name="OW" list="directions">
            <datalist id="directions">
              <option>Oost</option>
              <option>West</option>
            </datalist>
          </div>
        </div>

      </div>

      <!-- Convert button  -->
      <div class="convertbutton">
        <button style="border: none; background:none; " type="submit">
          <img style="cursor: pointer" src="{% static 'images/convert.png' %}" alt="convert button" width="100%" height="auto">
        </button>

      </div>
    </form>

    <!-- Right side of the screen -->
    <div class="converted">

      <!-- To show certain messages like error handling -->
      <h1 class="output">{{convertOutput}}</h1>

      <!-- Non converted tiff file -->
      <div class="cimg">
        <img src="{% static 'images/temp.png' %}" alt="folder" width="20%" height="auto">
      </div>

      <!-- Converted tiff file -->
      <div class="cimg2">
        <img src="{% static 'images/temp.png' %}" alt="folder" width="20%" height="auto">
      </div>

      <!-- download button -->
      <div class="cimg3">
        <a href="{% static 'images/temp.png' %}" download>
          <img src="{% static 'images/download.png' %}" alt="folder" width="20%" height="auto">
        </a>
      </div>
    </div>

    <!-- Script to load jquery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'js/upload.js' %}"></script>
  </body>
</html>
